<nav class="navbar">
  <div class="logo">
    🚌 <span>BusBooking</span>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </button>

  <ul [class.active]="menuOpen" class="nav-links">
    <li><a routerLink="/dashboard" (click)="closeMenu()">Dashboard</a></li>
    <li><a routerLink="/search" (click)="closeMenu()">Search</a></li>
    <li><a routerLink="/ticket-history" (click)="closeMenu()">Tickets</a></li>
    <li *ngIf="isLoggedIn" class="logout-btn">
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
